<div *ngIf="(tournamentDetails$ | async) as tournament">
	<div *ngIf="tournament!.rounds!.length > 0; else noRounds">
		<app-score-filter [enableTournamentFilter]="false" [enableRoundFilter]="false" [enableBeatmapFilter]="false"></app-score-filter>
		<div class="tabs">
			<button *ngFor="let round of tournament.rounds; let i = index" [class.active]="i === selectedRoundIndex"
				(click)="selectRound(i)">
				{{ round.round_name }}
			</button>
		</div>
		<div class="tab-content" *ngIf="tournament.rounds[selectedRoundIndex] as selectedRound">
			<h3>{{ selectedRound.round_name }}</h3>
			<ng-container *ngIf="(groupedScores$ | async) as groupedScores">
				<ng-container *ngFor="let group of groupedScores">
					<!--
					This grouping makes it shit to handle data constant by groups and needs to get changed
					This will get really messy if the db gets large with many scores
					-->
					<h4>{{`${group.rows[0].beatmap_artist} - ${group.rows[0].beatmap_title}[${group.rows[0].difficulty_name}]`}}</h4>
					<app-score-table [scores]="group.rows"></app-score-table>
				</ng-container>
			</ng-container>
		</div>
	</div>
	<ng-template #noRounds>
		<p>No rounds available for this tournament.</p>
	</ng-template>
</div>