.user-info {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  max-width: fit-content;
}

#loginButton {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
}

.profile-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.nav-bar {
  height: 3.125rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }
}

h1 {
  cursor: pointer;
}