.card {
    aspect-ratio: 800 / 280;
}
.card-img {
    filter: brightness(50%);
}

.card-title {
    cursor: pointer;
    text-decoration: none;
}

.card-img-overlay {
    padding-right: 3rem;
}

#open-beatmap:hover {
    outline: 2px solid #fff;
}